<section class="accounts-section spad">
    <div class="container m-auto">
        <h3>Profile</h3>
        <h1 *ngIf="authenticationService.currentUserValue">{{ authenticationService.fullName }}</h1>
        <button (click)="editName = true;" class="site-btn">Edit Name</button>
        <aside class="editname-wrapper m-left">
            <form *ngIf="editName" class="editname-form" [formGroup]="editNameForm">
                <input type="text" id="first-name" aria-describedby="first-name" placeholder="First Name"
                    value="{{ authenticationService.currentUserValue.firstName }}" formControlName="firstName" required>
                <input type="text" id="last-name" aria-describedby="last-name" placeholder="Last Name"
                    value="{{ authenticationService.currentUserValue.lastName }}" formControlName="lastName" required>
                <input type="text" id="email" aria-describedby="email" placeholder="Email"
                    value="{{ authenticationService.currentUserValue.email }}" formControlName="email" required>
                <button type="submit" (click)="onSubmit(confirm)" [disabled]="!editNameForm.valid"
                    class="site-btn">Accept</button>
                <button type="submit" (click)="editName = false;" class="site-btn">Cancel</button>
            </form>
        </aside>
        <div></div>
        <h2>Previous Orders</h2>
        <div class="container">
            <div *ngFor="let cart of completedCarts">
                <h4>Order ID {{cart.cart_id}} - Total Price: ${{ cart.total.toFixed(2) }}</h4>
                <div *ngFor="let prod of cart.prod">
                    <h6>Product: {{ prod.prod.prod_name }}</h6>
                    <h6>Price: ${{prod.prod.price.toFixed(2)}}</h6>
                    <h6>Quantity: {{ prod.amount }}</h6>
                </div>
            </div>
        </div>
    </div>
</section>