<div id="preloder">
    <div class="loader"></div>
</div>


<header class="header-section">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 text-center text-lg-left">
                    <!-- logo -->
                    <a routerLink="/" class="site-logo">
                        <img src="assets/img/logo.png" alt="Logo">
                    </a>
                </div>
                <div class="col-xl-6 col-lg-5">
                    <form class="header-search-form" [formGroup]="searchForm">
                        <input type="text" placeholder="Search on bageldrops ...." formControlName="search" pattern="[a-z]">
                        <button><i class="flaticon-search"></i></button>
                    </form>
                </div>
                <div class="col-xl-4 col-lg-5">
                    <div class="user-panel">
                        <div class="up-item">
                            <span *ngIf="!authenticationService.currentUserValue">
                                <a routerLink="/login">Sign In</a> or <a routerLink="/register">Create Account</a>
                            </span>
                            <ul *ngIf="authenticationService.currentUserValue" class="main-menu profile">
                                <li>
                                    <i class="flaticon-profile"></i>&nbsp;<a
                                        href="#">{{ authenticationService.fullName }}</a>
                                    <ul class="sub-menu">
                                        <li><a routerLink="accounts/profile/">Profile</a></li>
                                        <li><a routerLink="/" (click)="logout()">Log Out</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="up-item">
                            <div class="shopping-card">
                                <i class="flaticon-bag"></i>
                                <span>{{ cartService.cartSize }}</span>
                            </div>&nbsp;<a routerLink="/cart">Shopping Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="main-navbar">
        <div class="container">
            <!-- menu -->
            <ul class="main-menu">
                <li><a routerLink="/">Home</a></li>
                <li><a href="assets/User Manual.pdf" target="_blank">User Manual</a></li>
            </ul>
        </div>
    </nav>
</header>

<router-outlet></router-outlet>

<section class="footer-section">
   <!-- <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget about-widget">
                    <h2>About</h2>
                    <p>Epic BagelDrops website</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget about-widget">
                    <h2>Questions</h2>
                    <ul>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Track Orders</a></li>
                        <li><a href="">Returns</a></li>
                        <li><a href="">Jobs</a></li>
                        <li><a href="">Shipping</a></li>
                        <li><a href="">Blog</a></li>
                    </ul>
                    <ul>
                        <li><a href="">Partners</a></li>
                        <li><a href="">Bloggers</a></li>
                        <li><a href="">Support</a></li>
                        <li><a href="">Terms of Use</a></li>
                        <li><a href="">Press</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>-->
    <div class="social-links-warp">
        <div class="container">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            <p class="text-white text-center mt-5">Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made
                with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
                    target="_blank">Colorlib</a></p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

        </div>
    </div>
</section>