<section class="checkout-section spad">
  <div class="checkout-wrapper m-auto">
    <div class="container">
      <h3 class="text-center">Checkout</h3>
      <form class="checkout-form">
        <input *ngIf="!authenticationService.currentUserValue" type="text" id="first-name" placeholder="First Name" required>
        <input *ngIf="!authenticationService.currentUserValue" type="text" id="last-name" placeholder="Last Name" required>
        <input type="text" id="address-1" placeholder="Address Line 1" required>
        <input type="text" id="address-2" placeholder="Address Line 2">
        <input type="text" id="state" placeholder="State" required>
        <input type="text" id="zip" placeholder="ZIP" required>
        <button type="submit" class="site-btn">Next</button>
      </form>
    </div>
  </div>
</section>
<!--<form id="form-box" method="get">
  <div id="form-title">Shipping Address</div>

  <span *ngIf="!authenticationService.currentUserValue">
    <div class="form-header">First Name</div>
    <input class="form-input" id="first-name" required/>

    <div class="form-header">Last Name</div>
    <input class="form-input" id="last-name" required/>
  </span>

  <div class="form-header">Address Line 1</div>
  <input
    type="text"
    class="form-input"
    id="addrs_1"
    required
  />

  <div class="form-header">Address Line 2</div>
  <input type="text" class="form-input" id="addrs_2" />

  <div class="form-header">State</div>
  <input class="form-input" id="state" required/>

  <div class="form-header">Postcode</div>
  <input class="form-input" id="postcode" required/>

  <input class="btn" type="submit" name="next" value="NEXT" />
</form>
-->