{% load render_bundle from webpack_loader %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Bageldrops Frontend</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
</head>
<body>
  <app-root></app-root>
  {% render_bundle 'runtime' %}
  {% render_bundle 'es2015-polyfills' %}
  {% render_bundle 'polyfills' %}
  {% render_bundle 'styles' %}
  {% render_bundle 'vendor' %}
  {% render_bundle 'main' %}
</body>
</html>