<section class="register-section spad">
    <div class="register-wrapper m-auto">
        <div class="container">
            <h3 class="text-center">Register</h3>
            <form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <ngb-alert type="danger" *ngIf="error" (close)="error = ''">{{ error }}</ngb-alert>
                <input type="email" aria-describedby="email" placeholder="Enter email" formControlName="email" required>
                <div class="row">
                    <div class="col-sm-6">
                        <input type="text" aria-describedby="first name" placeholder="Enter first name"
                        formControlName="firstName" required>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" aria-describedby="last name" placeholder="Enter last name"
                        formControlName="lastName" required>
                    </div>
                </div>
                <input type="text" aria-describedby="username" placeholder="Enter username" formControlName="username" required>
                <input type="password" aria-describedby="password" placeholder="Enter password" formControlName="password" required>
                <input type="password" aria-describedby="confirm password" placeholder="Enter password again"
                formControlName="confirmPassword" required>
                <button type="submit" [disabled]="!registerForm.valid" class="site-btn m-auto">Sign Me Up!</button>
            </form>
        </div>
    </div>
</section>
